html,
body {
  text-align: center;
  max-width: 600px;
  margin: auto;
  font-family: sans-serif;
  background-color: #f0f2f5 !important;
}

.card {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
}

.card header h3 {
  text-align: left;
  margin: 6px 8px;
}

.card div {
  margin: 2px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

button {
  width: 80px;
  padding: 10px 0;
  border: 0;
  border-radius: 4px;
  color: #fff;
}

#timer,
#logs,
.audio {
  padding: 10px;
}

#buttonStart {
  background-color: #27ab83;
}
#buttonStop {
  background-color: #fa575c;
}
#buttonDelete {
  background-color: #0967d2;
}
